:root {
  --border-color: #e6e6e6;
}

body {
  background-color: white;
  margin: 0px;
  max-width: 40rem;
  margin: auto;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.story-list {
}

.story-meta {
  color: #555;
}

.story-meta__comment-count {
  display: inline-block;
  width: 120px;
  /* cursor: pointer; */
}

.story-meta__score {
  display: inline-block;
}

.story-item__title {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}

.story-item {
  transition: all 300ms ease-in;
  padding: 15px 20px 15px 30px;
  box-sizing: border-box;
}

.story-item__url a {
  color: blue;
  text-decoration: none;
}

.story-item__url a:visited {
  color: #609;
}

.story-item__number {
  position: absolute;
  transform: translateX(-110%);
}

.story-item + .story-item {
  border-top: 1px solid var(--border-color);
}

.story-item__url {
  padding-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-list {
  background-color: white;
  color: black;
  cursor: default;
  /* border-top: 1px solid var(--border-color); */
  overflow: hidden;
}

.comment-list {
  border-left: 1px solid var(--border-color);
  margin-left: 10px;
  /* padding-left: 8px; */
}

.story-item .comment-list {
  display: none;
}

.story-item--show-comments .comment-list {
  display: block;
}

.story-item > .comment-list {
  /* border-top: none; */
  border-left: none;
  margin-top: 8px;
  transform: translateX(-16px);
}


.comment:not(:last-child) {
  /* border-bottom: 1px solid #555; */
  padding-top: 2px;
}

.comment-content {
  padding: 0 8px 8px 8px;
  display: block;
}

.comment + .comment {
  /*   border-top: 1px solid var(--border-color); */
  margin-top: 8px;
}

.comment p {
  overflow: hidden;
}

.comment-meta {
  padding: 0 8px 8px 8px;
  font-size: 0.9rem;
  color: #888;
}

.comment-meta__by {
  margin-right: 0.2em;
}

.story-item--show-comments {
  /* background-color: var(--border-color); */
}

.story-item--viewed .story-item__title {
  color: #777;
}

.comment.comment--hide-kids {
  border-bottom: 15px solid #ddd;
}

.comment--hide-kids .comment-list {
  display: none;
}

.close-comment {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid #555;
  padding: 5px;
  background-color: #555;
  color: #eee;
  cursor: pointer;
  z-index: 999;
}

.load-more {
  margin: 8px auto;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ddd;
  display: block;
}

.loading {
  margin: auto;
  display: block;
  padding: 40px 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
